<p id="notice"><%= notice %></p>

<h1>Deka</h1>

<%= link_to 'Test worker', '/startworker' %>
<%= link_to 'Delayed jobs page', '/delayed_job' %>
<%= link_to 'View Denizens', '/denizens' %>
<%= link_to 'View Elements', '/elements' %>
